In [17]:
import fastf1 
import pandas as pd 
from sklearn.metrics import mean_absolute_error 
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

In [138]:
session_2024 = fastf1.get_session(2024, 'Japanese', 'R')
session_2024.load()

core           INFO 	Loading data for Japanese Grand Prix - Race [v3.6.0]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for lap_count
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '11', '55', '16', '4', '14', '63', '81', '44', '22', '27', '18', '20', '77', '31', '10', '2', '24', '3', '23']

In [165]:
qualifying_2025 = fastf1.get_session(2025, 'Japanese', 'Q')
qualifying_2025.load()

core           INFO 	Loading data for Japanese Grand Prix - Qualifying [v3.6.0]
req            INFO 	Using cached data for session_info
req            INFO 	Using cached data for driver_info
req            INFO 	Using cached data for session_status_data
req            INFO 	Using cached data for track_status_data
req            INFO 	Using cached data for _extended_timing_data
req            INFO 	Using cached data for timing_app_data
core           INFO 	Processing timing data...
req            INFO 	Using cached data for car_data
req            INFO 	Using cached data for position_data
req            INFO 	Using cached data for weather_data
req            INFO 	Using cached data for race_control_messages
core           INFO 	Finished loading data for 20 drivers: ['1', '4', '81', '16', '63', '12', '6', '44', '23', '87', '10', '55', '14', '30', '22', '27', '5', '31', '7', '18']

In [166]:
qualifying_2025.session_info

{'Meeting': {'Key': 1256,
  'Name': 'Japanese Grand Prix',
  'OfficialName': 'FORMULA 1 LENOVO JAPANESE GRAND PRIX 2025 ',
  'Location': 'Suzuka',
  'Number': 3,
  'Country': {'Key': 4, 'Code': 'JPN', 'Name': 'Japan'},
  'Circuit': {'Key': 46, 'ShortName': 'Suzuka'}},
 'ArchiveStatus': {'Status': 'Generating'},
 'Key': 10002,
 'Type': 'Qualifying',
 'Name': 'Qualifying',
 'StartDate': datetime.datetime(2025, 4, 5, 15, 0),
 'EndDate': datetime.datetime(2025, 4, 5, 16, 0),
 'GmtOffset': datetime.timedelta(seconds=32400),
 'Path': '2025/2025-04-06_Japanese_Grand_Prix/2025-04-05_Qualifying/'}

In [167]:
laps_2024 = session_2024.laps[["Driver",'LapTime', 'Sector1Time', 'Sector2Time', 'Sector3Time']].copy()

for col in ['LapTime', 'Sector1Time', 'Sector2Time', 'Sector3Time']:
    laps_2024[f"{col} (s)"] = laps_2024[col].dt.total_seconds()

laps_2024.dropna(inplace=True)
laps_2024

,Driver,LapTime,Sector1Time,Sector2Time,Sector3Time,LapTime (s),Sector1Time (s),Sector2Time (s),Sector3Time (s)
3,VER,0 days 00:01:36.472000,0 days 00:00:34.772000,0 days 00:00:43.042000,0 days 00:00:18.658000,96.472,34.772,43.042,18.658
4,VER,0 days 00:01:36.437000,0 days 00:00:34.690000,0 days 00:00:43.035000,0 days 00:00:18.712000,96.437,34.690,43.035,18.712
5,VER,0 days 00:01:36.855000,0 days 00:00:34.965000,0 days 00:00:43.196000,0 days 00:00:18.694000,96.855,34.965,43.196,18.694
6,VER,0 days 00:01:36.970000,0 days 00:00:34.987000,0 days 00:00:43.300000,0 days 00:00:18.683000,96.970,34.987,43.300,18.683
7,VER,0 days 00:01:37.329000,0 days 00:00:35.112000,0 days 00:00:43.412000,0 days 00:00:18.805000,97.329,35.112,43.412,18.805
...,...,...,...,...,...,...,...,...,...
900,ZHO,0 days 00:01:58.402000,0 days 00:00:56.403000,0 days 00:00:43.265000,0 days 00:00:18.734000,118.402,56.403,43.265,18.734
901,ZHO,0 days 00:01:37.160000,0 days 00:00:35.194000,0 days 00:00:43.257000,0 days 00:00:18.709000,97.160,35.194,43.257,18.709
902,ZHO,0 days 00:01:37.500000,0 days 00:00:35.186000,0 days 00:00:43.455000,0 days 00:00:18.859000,97.500,35.186,43.455,18.859
903,ZHO,0 days 00:01:41.117000,0 days 00:00:35.334000,0 days 00:00:43.688000,0 days 00:00:22.095000,101.117,35.334,43.688,22.095
904,ZHO,0 days 00:02:08.193000,0 days 00:00:59.412000,0 days 00:00:46.811000,0 days 00:00:21.970000,128.193,59.412,46.811,21.970

In [159]:
filtered_rows = laps_2024[laps_2024["Driver"].isin(["GAS", "ANT"])]
filtered_rows

,Driver,LapTime,Sector1Time,Sector2Time,Sector3Time,LapTime (s),Sector1Time (s),Sector2Time (s),Sector3Time (s)
791,GAS,0 days 00:02:18.362000,0 days 00:01:14.063000,0 days 00:00:45.103000,0 days 00:00:19.196000,138.362,74.063,45.103,19.196
792,GAS,0 days 00:01:39.925000,0 days 00:00:36.680000,0 days 00:00:44.410000,0 days 00:00:18.835000,99.925,36.680,44.410,18.835
793,GAS,0 days 00:01:39.473000,0 days 00:00:36.122000,0 days 00:00:44.509000,0 days 00:00:18.842000,99.473,36.122,44.509,18.842
794,GAS,0 days 00:01:40.257000,0 days 00:00:36.667000,0 days 00:00:44.516000,0 days 00:00:19.074000,100.257,36.667,44.516,19.074
795,GAS,0 days 00:01:40.248000,0 days 00:00:36.461000,0 days 00:00:44.726000,0 days 00:00:19.061000,100.248,36.461,44.726,19.061
796,GAS,0 days 00:01:41.363000,0 days 00:00:37.525000,0 days 00:00:44.759000,0 days 00:00:19.079000,101.363,37.525,44.759,19.079
797,GAS,0 days 00:01:40.780000,0 days 00:00:36.840000,0 days 00:00:44.704000,0 days 00:00:19.236000,100.780,36.840,44.704,19.236
798,GAS,0 days 00:01:41.117000,0 days 00:00:36.846000,0 days 00:00:44.878000,0 days 00:00:19.393000,101.117,36.846,44.878,19.393
799,GAS,0 days 00:01:41.628000,0 days 00:00:37.365000,0 days 00:00:45.056000,0 days 00:00:19.207000,101.628,37.365,45.056,19.207
800,GAS,0 days 00:01:41.107000,0 days 00:00:36.798000,0 days 00:00:45.061000,0 days 00:00:19.248000,101.107,36.798,45.061,19.248
801,GAS,0 days 00:01:42.475000,0 days 00:00:37.619000,0 days 00:00:45.216000,0 days 00:00:19.640000,102.475,37.619,45.216,19.640
802,GAS,0 days 00:01:41.773000,0 days 00:00:37.405000,0 days 00:00:45.186000,0 days 00:00:19.182000,101.773,37.405,45.186,19.182
803,GAS,0 days 00:01:41.380000,0 days 00:00:37.047000,0 days 00:00:45.092000,0 days 00:00:19.241000,101.380,37.047,45.092,19.241
804,GAS,0 days 00:01:43.476000,0 days 00:00:36.884000,0 days 00:00:44.836000,0 days 00:00:21.756000,103.476,36.884,44.836,21.756
805,GAS,0 days 00:01:58.732000,0 days 00:00:56.331000,0 days 00:00:43.543000,0 days 00:00:18.858000,118.732,56.331,43.543,18.858
806,GAS,0 days 00:01:38.374000,0 days 00:00:35.683000,0 days 00:00:43.868000,0 days 00:00:18.823000,98.374,35.683,43.868,18.823
807,GAS,0 days 00:01:38.599000,0 days 00:00:35.764000,0 days 00:00:43.918000,0 days 00:00:18.917000,98.599,35.764,43.918,18.917
808,GAS,0 days 00:01:38.741000,0 days 00:00:35.953000,0 days 00:00:43.915000,0 days 00:00:18.873000,98.741,35.953,43.915,18.873
809,GAS,0 days 00:01:38.415000,0 days 00:00:35.664000,0 days 00:00:43.851000,0 days 00:00:18.900000,98.415,35.664,43.851,18.900
810,GAS,0 days 00:01:38.382000,0 days 00:00:35.706000,0 days 00:00:43.824000,0 days 00:00:18.852000,98.382,35.706,43.824,18.852
811,GAS,0 days 00:01:39.816000,0 days 00:00:36.281000,0 days 00:00:44.480000,0 days 00:00:19.055000,99.816,36.281,44.480,19.055
812,GAS,0 days 00:01:38.781000,0 days 00:00:35.817000,0 days 00:00:44.156000,0 days 00:00:18.808000,98.781,35.817,44.156,18.808
813,GAS,0 days 00:01:39.034000,0 days 00:00:35.854000,0 days 00:00:44.108000,0 days 00:00:19.072000,99.034,35.854,44.108,19.072
814,GAS,0 days 00:01:38.958000,0 days 00:00:36.002000,0 days 00:00:44.005000,0 days 00:00:18.951000,98.958,36.002,44.005,18.951
815,GAS,0 days 00:01:38.902000,0 days 00:00:35.940000,0 days 00:00:43.985000,0 days 00:00:18.977000,98.902,35.940,43.985,18.977
816,GAS,0 days 00:01:38.873000,0 days 00:00:35.958000,0 days 00:00:44.022000,0 days 00:00:18.893000,98.873,35.958,44.022,18.893
817,GAS,0 days 00:01:39.052000,0 days 00:00:36.038000,0 days 00:00:44.122000,0 days 00:00:18.892000,99.052,36.038,44.122,18.892
818,GAS,0 days 00:01:38.894000,0 days 00:00:35.924000,0 days 00:00:44.011000,0 days 00:00:18.959000,98.894,35.924,44.011,18.959
819,GAS,0 days 00:01:39.450000,0 days 00:00:36.074000,0 days 00:00:44.302000,0 days 00:00:19.074000,99.450,36.074,44.302,19.074
820,GAS,0 days 00:01:41.728000,0 days 00:00:36.112000,0 days 00:00:44.223000,0 days 00:00:21.393000,101.728,36.112,44.223,21.393
821,GAS,0 days 00:01:57.833000,0 days 00:00:55.446000,0 days 00:00:43.566000,0 days 00:00:18.821000,117.833,55.446,43.566,18.821
822,GAS,0 days 00:01:38.671000,0 days 00:00:35.397000,0 days 00:00:43.833000,0 days 00:00:19.441000,98.671,35.397,43.833,19.441
823,GAS,0 days 00:01:37.656000,0 days 00:00:35.565000,0 days 00:00:43.366000,0 days 00:00:18.725000,97.656,35.565,43.366,18.725
824,GAS,0 days 00:01:37.283000,0 days 00:00:35.261000,0 days 00:00:43.349000,0 days 00:00:18.673000,97.283,35.261,43.349,18.673
825,GAS,0 days 00:01:38.426000,0 days 00:00:36.064000,0 days 00:00:43.658000,0 days 00:00:18.704000,98.426,36.064,43.658,18.704
826,GAS,0 days 00:01:36.756000,0 days 00:00:34.950000,0 days 00:00:43.183000,0 days 00:00:18.623000,96.756,34.950,43.183,18.623
827,GAS,0 days 00:01:40.223000,0 days 00:00:36.267000,0 days 00:00:43.762000,0 days 00:00:20.194000,100.223,36.267,43.762,20.194
828,GAS,0 days 00:01:38.072000,0 days 00:00:35.041000,0 days 00:00:44.271000,0 days 00:00:18.760000,98.072,35.041,44.271,18.760
829,GAS,0 days 00:01:37.477000,0 days 00:00:34.976000,0 days 00:00:43.914000,0 days 00:00:18.587000,97.477,34.976,43.914,18.587
830,GAS,0 days 00:01:37.014000,0 days 00:00:34.965000,0 days 00:00:43.408000,0 days 00:00:18.641000,97.014,34.965,43.408,18.641
831,GAS,0 days 00:01:36.799000,0 days 00:00:35.047000,0 days 00:00:43.044000,0 days 00:00:18.708000,96.799,35.047,43.044,18.708
832,GAS,0 days 00:01:37.201000,0 days 00:00:35.111000,0 days 00:00:43.190000,0 days 00:00:18.900000,97.201,35.111,43.190,18.900
833,GAS,0 days 00:01:36.942000,0 days 00:00:35.011000,0 days 00:00:43.136000,0 days 00:00:18.795000,96.942,35.011,43.136,18.795
834,GAS,0 days 00:01:36.997000,0 days 00:00:35.067000,0 days 00:00:43.222000,0 days 00:00:18.708000,96.997,35.067,43.222,18.708
835,GAS,0 days 00:01:36.759000,0 days 00:00:34.987000,0 days 00:00:43.131000,0 days 00:00:18.641000,96.759,34.987,43.131,18.641
836,GAS,0 days 00:01:36.642000,0 days 00:00:34.847000,0 days 00:00:43.208000,0 days 00:00:18.587000,96.642,34.847,43.208,18.587
837,GAS,0 days 00:01:38.650000,0 days 00:00:34.862000,0 days 00:00:44.189000,0 days 00:00:19.599000,98.650,34.862,44.189,19.599
838,GAS,0 days 00:01:40.961000,0 days 00:00:37.653000,0 days 00:00:44.508000,0 days 00:00:18.800000,100.961,37.653,44.508,18.800
839,GAS,0 days 00:01:37.721000,0 days 00:00:35.321000,0 days 00:00:43.560000,0 days 00:00:18.840000,97.721,35.321,43.560,18.840
840,GAS,0 days 00:01:37.505000,0 days 00:00:35.149000,0 days 00:00:43.604000,0 days 00:00:18.752000,97.505,35.149,43.604,18.752

In [168]:
sector_times_2024 = laps_2024.groupby("Driver")[["Sector1Time (s)", "Sector2Time (s)", "Sector3Time (s)"]].mean().reset_index()
sector_times_2024

   Driver  Sector1Time (s)  Sector2Time (s)  Sector3Time (s)
0     ALO        35.836200        43.152480        18.812900
1     BOT        37.369380        43.882920        18.930600
2     GAS        37.528200        44.069740        19.075720
3     HAM        35.814000        43.281160        18.751840
4     HUL        36.554531        43.537061        18.811857
5     LEC        35.496140        43.240200        18.681140
6     MAG        37.099260        43.905360        18.810420
7     NOR        35.654020        43.148680        18.728900
8     OCO        37.452320        43.958900        19.047620
9     PER        35.454640        43.053560        18.698240
10    PIA        35.788000        43.268720        18.792320
11    RUS        35.806980        43.178340        18.781420
12    SAI        35.659060        43.058740        18.627780
13    SAR        37.330080        44.539240        18.997600
14    STR        36.541224        43.444102        19.034347
15    TSU        36.348796        43.591245        18.925653
16    VER        35.468640        42.857720        18.649200
17    ZHO        43.251800        44.387500        19.795800

In [169]:
qualifying_2025.results[["Abbreviation", 'Q1', 'Q2', 'Q3']]

,Abbreviation,Q1,Q2,Q3
1,VER,0 days 00:01:27.943000,0 days 00:01:27.502000,0 days 00:01:26.983000
4,NOR,0 days 00:01:27.845000,0 days 00:01:27.146000,0 days 00:01:26.995000
81,PIA,0 days 00:01:27.687000,0 days 00:01:27.507000,0 days 00:01:27.027000
16,LEC,0 days 00:01:27.920000,0 days 00:01:27.555000,0 days 00:01:27.299000
63,RUS,0 days 00:01:27.843000,0 days 00:01:27.400000,0 days 00:01:27.318000
12,ANT,0 days 00:01:27.968000,0 days 00:01:27.639000,0 days 00:01:27.555000
6,HAD,0 days 00:01:28.278000,0 days 00:01:27.775000,0 days 00:01:27.569000
44,HAM,0 days 00:01:27.942000,0 days 00:01:27.610000,0 days 00:01:27.610000
23,ALB,0 days 00:01:28.218000,0 days 00:01:27.783000,0 days 00:01:27.615000
87,BEA,0 days 00:01:28.228000,0 days 00:01:27.711000,0 days 00:01:27.867000
10,GAS,0 days 00:01:28.186000,0 days 00:01:27.822000,NaT
55,SAI,0 days 00:01:28.209000,0 days 00:01:27.836000,NaT
14,ALO,0 days 00:01:28.337000,0 days 00:01:27.897000,NaT
30,LAW,0 days 00:01:28.554000,0 days 00:01:27.906000,NaT
22,TSU,0 days 00:01:27.967000,0 days 00:01:28,NaT
27,HUL,0 days 00:01:28.570000,NaT,NaT
5,BOR,0 days 00:01:28.622000,NaT,NaT
31,OCO,0 days 00:01:28.696000,NaT,NaT
7,DOO,0 days 00:01:28.877000,NaT,NaT
18,STR,0 days 00:01:29.271000,NaT,NaT

In [170]:
qualifying_data = qualifying_2025.results[['Abbreviation','Q3']].copy()
qualifying_data.dropna(subset=['Q3'], inplace=True)
qualifying_data['Qualifying Data (s)'] = qualifying_data['Q3'].dt.total_seconds()
qualifying_data.rename(columns={'Abbreviation': 'Driver'}, inplace=True)
qualifying_data = qualifying_data[["Driver", "Qualifying Data (s)"]]
qualifying_data.reset_index(drop=True, inplace=True)
qualifying_data

  Driver  Qualifying Data (s)
0    VER               86.983
1    NOR               86.995
2    PIA               87.027
3    LEC               87.299
4    RUS               87.318
5    ANT               87.555
6    HAD               87.569
7    HAM               87.610
8    ALB               87.615
9    BEA               87.867

In [171]:
qualifying_3_players = pd.DataFrame({
    "Driver": ["GAS", "ALO", "TSU", 'SAI'],
    "Qualifying Data (s)": [87.822, 87.897, 88.000, 87.836]
})

qualifying_data = pd.concat([qualifying_data, qualifying_3_players], ignore_index=True)
qualifying_data

   Driver  Qualifying Data (s)
0     VER               86.983
1     NOR               86.995
2     PIA               87.027
3     LEC               87.299
4     RUS               87.318
5     ANT               87.555
6     HAD               87.569
7     HAM               87.610
8     ALB               87.615
9     BEA               87.867
10    GAS               87.822
11    ALO               87.897
12    TSU               88.000
13    SAI               87.836

In [173]:
qualifying_data = qualifying_data[~qualifying_data["Driver"].isin(["ANT", "HAD", "ALB", 'BEA'])].reset_index(drop=True)
qualifying_data

  Driver  Qualifying Data (s)
0    VER               86.983
1    NOR               86.995
2    PIA               87.027
3    LEC               87.299
4    RUS               87.318
5    HAM               87.610
6    GAS               87.822
7    ALO               87.897
8    TSU               88.000
9    SAI               87.836

In [174]:
driver_wet_performance = {
    "VER": 0.975196, 
    "HAM": 0.976464,  
    "LEC": 0.975862,  
    "NOR": 0.978179,  
    "ALO": 0.972655,  
    "RUS": 0.968678,  
    "SAI": 0.978754,  
    "TSU": 0.996338,  
    "OCO": 0.981810,  
    "GAS": 0.978832,  
    "STR": 0.979857   
}

In [175]:
qualifying_data["WetPerformanceFactor"] = qualifying_data["Driver"].map(driver_wet_performance)
qualifying_data

  Driver  Qualifying Data (s)  WetPerformanceFactor
0    VER               86.983              0.975196
1    NOR               86.995              0.978179
2    PIA               87.027                   NaN
3    LEC               87.299              0.975862
4    RUS               87.318              0.968678
5    HAM               87.610              0.976464
6    GAS               87.822              0.978832
7    ALO               87.897              0.972655
8    TSU               88.000              0.996338
9    SAI               87.836              0.978754

In [176]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='mean')
qualifying_data["WetPerformanceFactor"] = imputer.fit_transform(qualifying_data[["WetPerformanceFactor"]])
qualifying_data

  Driver  Qualifying Data (s)  WetPerformanceFactor
0    VER               86.983              0.975196
1    NOR               86.995              0.978179
2    PIA               87.027              0.977884
3    LEC               87.299              0.975862
4    RUS               87.318              0.968678
5    HAM               87.610              0.976464
6    GAS               87.822              0.978832
7    ALO               87.897              0.972655
8    TSU               88.000              0.996338
9    SAI               87.836              0.978754

ANT, HAD, ALB are attended at JGP in 2025 but did not have records in 2024 so we may exclude them and add racers at 11,12,13 places

In [136]:
import requests

# Weather Data
API_KEY = "af882fd80d359563e59defd6cd4e005f"
weather_url = f"http://api.openweathermap.org/data/2.5/forecast?lat=34.8823&lon=136.5845&dt={time}&appid={API_KEY}&units=metric"

weather_url

'http://api.openweathermap.org/data/2.5/forecast?lat=34.8823&lon=136.5845&dt=1743420000&appid=af882fd80d359563e59defd6cd4e005f&units=metric'

In [113]:
response = requests.get(weather_url)
response

In [114]:
weather_data = response.json()
print(weather_data)

{'cod': '200', 'message': 0, 'cnt': 40, 'list': [{'dt': 1754902800, 'main': {'temp': 28.74, 'feels_like': 33.83, 'temp_min': 28.35, 'temp_max': 28.74, 'pressure': 1007, 'sea_level': 1007, 'grnd_level': 1000, 'humidity': 79, 'temp_kf': 0.39}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.89, 'deg': 183, 'gust': 2.06}, 'visibility': 10000, 'pop': 1, 'rain': {'3h': 1.9}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-11 09:00:00'}, {'dt': 1754913600, 'main': {'temp': 28.03, 'feels_like': 32.82, 'temp_min': 27.58, 'temp_max': 28.03, 'pressure': 1008, 'sea_level': 1008, 'grnd_level': 1001, 'humidity': 84, 'temp_kf': 0.45}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.03, 'deg': 135, 'gust': 1.4}, 'visibility': 10000, 'pop': 1, 'rain': {'3h': 2.04}, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-11 12:00:00'}, {'dt': 1754924400, 'main': {'temp': 27.36, 'feels_like': 31.78, 'temp_min': 27.36, 'temp_max': 27.36, 'pressure': 1010, 'sea_level': 1010, 'grnd_level': 1002, 'humidity': 90, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.43, 'deg': 258, 'gust': 1.49}, 'visibility': 10000, 'pop': 0.5, 'rain': {'3h': 0.36}, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-11 15:00:00'}, {'dt': 1754935200, 'main': {'temp': 26.12, 'feels_like': 26.12, 'temp_min': 26.12, 'temp_max': 26.12, 'pressure': 1010, 'sea_level': 1010, 'grnd_level': 1002, 'humidity': 90, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.39, 'deg': 326, 'gust': 1.4}, 'visibility': 10000, 'pop': 0.34, 'rain': {'3h': 0.17}, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-11 18:00:00'}, {'dt': 1754946000, 'main': {'temp': 26.56, 'feels_like': 26.56, 'temp_min': 26.56, 'temp_max': 26.56, 'pressure': 1011, 'sea_level': 1011, 'grnd_level': 1003, 'humidity': 91, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.84, 'deg': 340, 'gust': 1.74}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-11 21:00:00'}, {'dt': 1754956800, 'main': {'temp': 28.57, 'feels_like': 35.57, 'temp_min': 28.57, 'temp_max': 28.57, 'pressure': 1012, 'sea_level': 1012, 'grnd_level': 1004, 'humidity': 90, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.12, 'deg': 277, 'gust': 1.06}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-12 00:00:00'}, {'dt': 1754967600, 'main': {'temp': 25.82, 'feels_like': 26.78, 'temp_min': 25.82, 'temp_max': 25.82, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 0.81, 'deg': 346, 'gust': 0.69}, 'visibility': 10000, 'pop': 0.32, 'rain': {'3h': 0.1}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-12 03:00:00'}, {'dt': 1754978400, 'main': {'temp': 26.41, 'feels_like': 26.41, 'temp_min': 26.41, 'temp_max': 26.41, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.05, 'deg': 243, 'gust': 2.7}, 'visibility': 10000, 'pop': 0.29, 'rain': {'3h': 0.12}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-12 06:00:00'}, {'dt': 1754989200, 'main': {'temp': 26.41, 'feels_like': 26.41, 'temp_min': 26.41, 'temp_max': 26.41, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.99, 'deg': 242, 'gust': 2.55}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-12 09:00:00'}, {'dt': 1755000000, 'main': {'temp': 25.83, 'feels_like': 26.69, 'temp_min': 25.83, 'temp_max': 25.83, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.44, 'deg': 283, 'gust': 2.91}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-12 12:00:00'}, {'dt': 1755010800, 'main': {'temp': 25.43, 'feels_like': 26.3, 'temp_min': 25.43, 'temp_max': 25.43, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.62, 'deg': 328, 'gust': 3.1}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-12 15:00:00'}, {'dt': 1755021600, 'main': {'temp': 24.92, 'feels_like': 25.77, 'temp_min': 24.92, 'temp_max': 24.92, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 88, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.16, 'deg': 296, 'gust': 2.7}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-12 18:00:00'}, {'dt': 1755032400, 'main': {'temp': 25.15, 'feels_like': 26.02, 'temp_min': 25.15, 'temp_max': 25.15, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1008, 'humidity': 88, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.14, 'deg': 305, 'gust': 2.93}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-12 21:00:00'}, {'dt': 1755043200, 'main': {'temp': 27.1, 'feels_like': 29.77, 'temp_min': 27.1, 'temp_max': 27.1, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1008, 'humidity': 78, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.05, 'deg': 296, 'gust': 3.58}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-13 00:00:00'}, {'dt': 1755054000, 'main': {'temp': 29.47, 'feels_like': 33.37, 'temp_min': 29.47, 'temp_max': 29.47, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 68, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.77, 'deg': 247, 'gust': 4.18}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-13 03:00:00'}, {'dt': 1755064800, 'main': {'temp': 30.49, 'feels_like': 34.97, 'temp_min': 30.49, 'temp_max': 30.49, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 65, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 2.14, 'deg': 240, 'gust': 3.98}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-13 06:00:00'}, {'dt': 1755075600, 'main': {'temp': 28.73, 'feels_like': 33.22, 'temp_min': 28.73, 'temp_max': 28.73, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 76, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'clouds': {'all': 100}, 'wind': {'speed': 3.36, 'deg': 289, 'gust': 4.97}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-13 09:00:00'}, {'dt': 1755086400, 'main': {'temp': 26.92, 'feels_like': 29.47, 'temp_min': 26.92, 'temp_max': 26.92, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1008, 'humidity': 79, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 100}, 'wind': {'speed': 1.46, 'deg': 315, 'gust': 1.7}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-13 12:00:00'}, {'dt': 1755097200, 'main': {'temp': 26.51, 'feels_like': 26.51, 'temp_min': 26.51, 'temp_max': 26.51, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1007, 'humidity': 80, 'temp_kf': 0}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04n'}], 'clouds': {'all': 98}, 'wind': {'speed': 1.08, 'deg': 147, 'gust': 2.15}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-13 15:00:00'}, {'dt': 1755108000, 'main': {'temp': 25.66, 'feels_like': 26.61, 'temp_min': 25.66, 'temp_max': 25.66, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 97}, 'wind': {'speed': 1.92, 'deg': 135, 'gust': 2.45}, 'visibility': 10000, 'pop': 0.2, 'rain': {'3h': 0.23}, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-13 18:00:00'}, {'dt': 1755118800, 'main': {'temp': 26.14, 'feels_like': 26.14, 'temp_min': 26.14, 'temp_max': 26.14, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1008, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 95}, 'wind': {'speed': 2.14, 'deg': 135, 'gust': 3.31}, 'visibility': 10000, 'pop': 0.99, 'rain': {'3h': 0.6}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-13 21:00:00'}, {'dt': 1755129600, 'main': {'temp': 27.34, 'feels_like': 30.74, 'temp_min': 27.34, 'temp_max': 27.34, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1008, 'humidity': 82, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 97}, 'wind': {'speed': 2.58, 'deg': 157, 'gust': 2.88}, 'visibility': 10000, 'pop': 0.78, 'rain': {'3h': 0.26}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-14 00:00:00'}, {'dt': 1755140400, 'main': {'temp': 28.24, 'feels_like': 32.21, 'temp_min': 28.24, 'temp_max': 28.24, 'pressure': 1016, 'sea_level': 1016, 'grnd_level': 1007, 'humidity': 77, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 77}, 'wind': {'speed': 3.37, 'deg': 132, 'gust': 2.79}, 'visibility': 10000, 'pop': 0.66, 'rain': {'3h': 0.42}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-14 03:00:00'}, {'dt': 1755151200, 'main': {'temp': 28.43, 'feels_like': 32.84, 'temp_min': 28.43, 'temp_max': 28.43, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 78, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 83}, 'wind': {'speed': 3.8, 'deg': 140, 'gust': 2.79}, 'visibility': 10000, 'pop': 0.95, 'rain': {'3h': 1.36}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-14 06:00:00'}, {'dt': 1755162000, 'main': {'temp': 27.91, 'feels_like': 32.18, 'temp_min': 27.91, 'temp_max': 27.91, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 82, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 31}, 'wind': {'speed': 3.61, 'deg': 135, 'gust': 4.16}, 'visibility': 10000, 'pop': 0.79, 'rain': {'3h': 0.45}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-14 09:00:00'}, {'dt': 1755172800, 'main': {'temp': 26.44, 'feels_like': 26.44, 'temp_min': 26.44, 'temp_max': 26.44, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 87, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 46}, 'wind': {'speed': 2.14, 'deg': 158, 'gust': 2.8}, 'visibility': 10000, 'pop': 0.54, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-14 12:00:00'}, {'dt': 1755183600, 'main': {'temp': 25.67, 'feels_like': 26.62, 'temp_min': 25.67, 'temp_max': 25.67, 'pressure': 1015, 'sea_level': 1015, 'grnd_level': 1007, 'humidity': 89, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 41}, 'wind': {'speed': 0.85, 'deg': 165, 'gust': 1.33}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-14 15:00:00'}, {'dt': 1755194400, 'main': {'temp': 25.31, 'feels_like': 26.25, 'temp_min': 25.31, 'temp_max': 25.31, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 90, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 35}, 'wind': {'speed': 0.68, 'deg': 215, 'gust': 1.26}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-14 18:00:00'}, {'dt': 1755205200, 'main': {'temp': 25.12, 'feels_like': 26.06, 'temp_min': 25.12, 'temp_max': 25.12, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 91, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 21}, 'wind': {'speed': 1.18, 'deg': 266, 'gust': 1.43}, 'visibility': 10000, 'pop': 0.6, 'rain': {'3h': 0.54}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-14 21:00:00'}, {'dt': 1755216000, 'main': {'temp': 27.1, 'feels_like': 30.17, 'temp_min': 27.1, 'temp_max': 27.1, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 82, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 35}, 'wind': {'speed': 0.87, 'deg': 175, 'gust': 0.84}, 'visibility': 10000, 'pop': 0.94, 'rain': {'3h': 0.89}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-15 00:00:00'}, {'dt': 1755226800, 'main': {'temp': 28.67, 'feels_like': 32.54, 'temp_min': 28.67, 'temp_max': 28.67, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 73, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 86}, 'wind': {'speed': 2.45, 'deg': 146, 'gust': 2.06}, 'visibility': 10000, 'pop': 0.7, 'rain': {'3h': 0.48}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-15 03:00:00'}, {'dt': 1755237600, 'main': {'temp': 28.33, 'feels_like': 32.6, 'temp_min': 28.33, 'temp_max': 28.33, 'pressure': 1012, 'sea_level': 1012, 'grnd_level': 1004, 'humidity': 78, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 85}, 'wind': {'speed': 3.13, 'deg': 162, 'gust': 2.65}, 'visibility': 10000, 'pop': 0.95, 'rain': {'3h': 1.97}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-15 06:00:00'}, {'dt': 1755248400, 'main': {'temp': 28.47, 'feels_like': 33.31, 'temp_min': 28.47, 'temp_max': 28.47, 'pressure': 1012, 'sea_level': 1012, 'grnd_level': 1004, 'humidity': 80, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 97}, 'wind': {'speed': 2.42, 'deg': 143, 'gust': 2.15}, 'visibility': 10000, 'pop': 0.91, 'rain': {'3h': 0.78}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-15 09:00:00'}, {'dt': 1755259200, 'main': {'temp': 26.48, 'feels_like': 26.48, 'temp_min': 26.48, 'temp_max': 26.48, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 84, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10n'}], 'clouds': {'all': 83}, 'wind': {'speed': 1.07, 'deg': 212, 'gust': 2.21}, 'visibility': 10000, 'pop': 0.65, 'rain': {'3h': 0.14}, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-15 12:00:00'}, {'dt': 1755270000, 'main': {'temp': 25.27, 'feels_like': 26.02, 'temp_min': 25.27, 'temp_max': 25.27, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 83, 'temp_kf': 0}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'clouds': {'all': 50}, 'wind': {'speed': 0.92, 'deg': 284, 'gust': 1.68}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-15 15:00:00'}, {'dt': 1755280800, 'main': {'temp': 24.8, 'feels_like': 25.56, 'temp_min': 24.8, 'temp_max': 24.8, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 85, 'temp_kf': 0}, 'weather': [{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04n'}], 'clouds': {'all': 63}, 'wind': {'speed': 1.35, 'deg': 308, 'gust': 1.46}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'n'}, 'dt_txt': '2025-08-15 18:00:00'}, {'dt': 1755291600, 'main': {'temp': 24.91, 'feels_like': 25.7, 'temp_min': 24.91, 'temp_max': 24.91, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 86, 'temp_kf': 0}, 'weather': [{'id': 801, 'main': 'Clouds', 'description': 'few clouds', 'icon': '02d'}], 'clouds': {'all': 15}, 'wind': {'speed': 1.56, 'deg': 313, 'gust': 1.66}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-15 21:00:00'}, {'dt': 1755302400, 'main': {'temp': 28.31, 'feels_like': 31.58, 'temp_min': 28.31, 'temp_max': 28.31, 'pressure': 1014, 'sea_level': 1014, 'grnd_level': 1006, 'humidity': 72, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 6}, 'wind': {'speed': 0.32, 'deg': 28, 'gust': 1.11}, 'visibility': 10000, 'pop': 0.52, 'rain': {'3h': 0.73}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-16 00:00:00'}, {'dt': 1755313200, 'main': {'temp': 28.97, 'feels_like': 32.66, 'temp_min': 28.97, 'temp_max': 28.97, 'pressure': 1013, 'sea_level': 1013, 'grnd_level': 1005, 'humidity': 70, 'temp_kf': 0}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'clouds': {'all': 3}, 'wind': {'speed': 3.52, 'deg': 138, 'gust': 2.47}, 'visibility': 10000, 'pop': 0, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-16 03:00:00'}, {'dt': 1755324000, 'main': {'temp': 28.52, 'feels_like': 32.2, 'temp_min': 28.52, 'temp_max': 28.52, 'pressure': 1012, 'sea_level': 1012, 'grnd_level': 1004, 'humidity': 73, 'temp_kf': 0}, 'weather': [{'id': 500, 'main': 'Rain', 'description': 'light rain', 'icon': '10d'}], 'clouds': {'all': 42}, 'wind': {'speed': 3.82, 'deg': 153, 'gust': 3.98}, 'visibility': 10000, 'pop': 0.2, 'rain': {'3h': 0.12}, 'sys': {'pod': 'd'}, 'dt_txt': '2025-08-16 06:00:00'}], 'city': {'id': 1851348, 'name': 'Suzuka', 'coord': {'lat': 34.8823, 'lon': 136.5845}, 'country': 'JP', 'population': 191477, 'timezone': 32400, 'sunrise': 1754856638, 'sunset': 1754905640}}

In [115]:
forecast_time = "2025-08-12 12:00:00"

for i in weather_data['list']:
    if i["dt_txt"] == forecast_time:
        print(i['dt_txt'], i['main']['temp'], i['pop'])

2025-08-12 12:00:00 25.83 0

In [116]:
# Extract the relevant weather data for the race (Sunday at 2pm local time)
forecast_time = "2025-08-12 12:00:00"
forecast_data = None

for forecast in weather_data["list"]:
    if forecast["dt_txt"] == forecast_time:
        forecast_data = forecast
        break

if forecast_data:
    rain_probability = forecast_data["pop"]
    temperature = forecast_data["main"]["temp"]  
else:
    rain_probability = 0 
    temperature = 20

In [117]:
rain_probability

0

In [118]:
temperature

25.83

In [177]:
merged_data = qualifying_data.merge(sector_times_2024, left_on="Driver", right_on="Driver", how="left")
merged_data['Rain Probability'] = rain_probability
merged_data['Temperature'] = temperature
merged_data

,Driver,Qualifying Data (s),WetPerformanceFactor,Sector1Time (s),Sector2Time (s),Sector3Time (s),Rain Probability,Temperature
0,VER,86.983,0.975196,35.468640,42.857720,18.649200,0,25.83
1,NOR,86.995,0.978179,35.654020,43.148680,18.728900,0,25.83
2,PIA,87.027,0.977884,35.788000,43.268720,18.792320,0,25.83
3,LEC,87.299,0.975862,35.496140,43.240200,18.681140,0,25.83
4,RUS,87.318,0.968678,35.806980,43.178340,18.781420,0,25.83
5,HAM,87.610,0.976464,35.814000,43.281160,18.751840,0,25.83
6,GAS,87.822,0.978832,37.528200,44.069740,19.075720,0,25.83
7,ALO,87.897,0.972655,35.836200,43.152480,18.812900,0,25.83
8,TSU,88.000,0.996338,36.348796,43.591245,18.925653,0,25.83
9,SAI,87.836,0.978754,35.659060,43.058740,18.627780,0,25.83

In [178]:
X = merged_data[["Qualifying Data (s)", "Sector1Time (s)", "Sector2Time (s)", "Sector3Time (s)", "WetPerformanceFactor", "Rain Probability", "Temperature"]].fillna(0)
X

,Qualifying Data (s),Sector1Time (s),Sector2Time (s),Sector3Time (s),WetPerformanceFactor,Rain Probability,Temperature
0,86.983,35.468640,42.857720,18.649200,0.975196,0,25.83
1,86.995,35.654020,43.148680,18.728900,0.978179,0,25.83
2,87.027,35.788000,43.268720,18.792320,0.977884,0,25.83
3,87.299,35.496140,43.240200,18.681140,0.975862,0,25.83
4,87.318,35.806980,43.178340,18.781420,0.968678,0,25.83
5,87.610,35.814000,43.281160,18.751840,0.976464,0,25.83
6,87.822,37.528200,44.069740,19.075720,0.978832,0,25.83
7,87.897,35.836200,43.152480,18.812900,0.972655,0,25.83
8,88.000,36.348796,43.591245,18.925653,0.996338,0,25.83
9,87.836,35.659060,43.058740,18.627780,0.978754,0,25.83

In [179]:
lap_mean = laps_2024.groupby("Driver")["LapTime (s)"].mean()
lap_mean

Driver
ALO     97.801580
BOT    100.182900
GAS    100.673660
HAM     97.847000
HUL     98.903449
LEC     97.417480
MAG     99.815040
NOR     97.531600
OCO    100.458840
PER     97.206440
PIA     97.849040
RUS     97.766740
SAI     97.345580
SAR    100.866920
STR     99.019673
TSU     98.865694
VER     96.975560
ZHO    107.435100
Name: LapTime (s), dtype: float64

In [180]:
y = merged_data.merge(laps_2024.groupby("Driver")["LapTime (s)"].mean(), left_on="Driver", right_index=True)
y

,Driver,Qualifying Data (s),WetPerformanceFactor,Sector1Time (s),Sector2Time (s),Sector3Time (s),Rain Probability,Temperature,LapTime (s)
0,VER,86.983,0.975196,35.468640,42.857720,18.649200,0,25.83,96.975560
1,NOR,86.995,0.978179,35.654020,43.148680,18.728900,0,25.83,97.531600
2,PIA,87.027,0.977884,35.788000,43.268720,18.792320,0,25.83,97.849040
3,LEC,87.299,0.975862,35.496140,43.240200,18.681140,0,25.83,97.417480
4,RUS,87.318,0.968678,35.806980,43.178340,18.781420,0,25.83,97.766740
5,HAM,87.610,0.976464,35.814000,43.281160,18.751840,0,25.83,97.847000
6,GAS,87.822,0.978832,37.528200,44.069740,19.075720,0,25.83,100.673660
7,ALO,87.897,0.972655,35.836200,43.152480,18.812900,0,25.83,97.801580
8,TSU,88.000,0.996338,36.348796,43.591245,18.925653,0,25.83,98.865694
9,SAI,87.836,0.978754,35.659060,43.058740,18.627780,0,25.83,97.345580

In [181]:
X_train, X_test, y_train, y_test = train_test_split(X, y["LapTime (s)"], test_size=0.2, random_state=38)

In [182]:
model = GradientBoostingRegressor(n_estimators=200, learning_rate=0.1, random_state=38)
model.fit(X_train, y_train)

GradientBoostingRegressor(n_estimators=200, random_state=38)

In [183]:
# Predict race times using 2025 qualifying and sector data
predicted_race_times = model.predict(X)
qualifying_data["PredictedRaceTime (s)"] = predicted_race_times
qualifying_data = qualifying_data.sort_values(by="PredictedRaceTime (s)")
qualifying_data

  Driver  Qualifying Data (s)  WetPerformanceFactor  PredictedRaceTime (s)
9    SAI               87.836              0.978754              97.345580
3    LEC               87.299              0.975862              97.417480
0    VER               86.983              0.975196              97.452317
1    NOR               86.995              0.978179              97.531600
4    RUS               87.318              0.968678              97.766740
7    ALO               87.897              0.972655              97.801580
5    HAM               87.610              0.976464              97.847000
2    PIA               87.027              0.977884              97.849040
8    TSU               88.000              0.996338              98.620851
6    GAS               87.822              0.978832             100.673660

In [185]:
print("\nðŸ Predicted 2025 Japanese GP WinnerðŸ\n")
print(qualifying_data[["Driver", "PredictedRaceTime (s)"]])

# Evaluate 
y_pred = model.predict(X_test)
print(f"\nðŸ” Model Error (MAE): {mean_absolute_error(y_test, y_pred):.2f} seconds")

ðŸ Predicted 2025 Japanese GP WinnerðŸ

  Driver  PredictedRaceTime (s)
9    SAI              97.345580
3    LEC              97.417480
0    VER              97.452317
1    NOR              97.531600
4    RUS              97.766740
7    ALO              97.801580
5    HAM              97.847000
2    PIA              97.849040
8    TSU              98.620851
6    GAS             100.673660

ðŸ” Model Error (MAE): 0.36 seconds